build/
.vscode/
rt.zip
readme*
document*
img*
tmp.txt
color_output_0.11_1250.png
doucment.aux
doucment.fls
doucment.log
doucment.synctex.gz
doucment.tex
HW2-61447026s-洪銘均.pdf
scene.py
texput.fls
texput.log
